Tetris.csproj
bin/Debug/net6.0/Tetris
bin/Debug/net6.0/Tetris.deps.json
bin/Debug/net6.0/Tetris.dll
bin/Debug/net6.0/Tetris.pdb
bin/Debug/net6.0/Tetris.runtimeconfig.json
bin/Debug/net6.0/ref/Tetris.dll
obj/project.assets.json
obj/project.nuget.cache
obj/Tetris.csproj.nuget.dgspec.json
obj/Tetris.csproj.nuget.g.props
obj/Tetris.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/Tetris.AssemblyInfo.cs
obj/Debug/net6.0/Tetris.AssemblyInfoInputs.cache
obj/Debug/net6.0/Tetris.assets.cache
obj/Debug/net6.0/Tetris.csproj.AssemblyReference.cache
obj/Debug/net6.0/Tetris.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Tetris.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Tetris.dll
obj/Debug/net6.0/Tetris.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Tetris.genruntimeconfig.cache
obj/Debug/net6.0/Tetris.pdb
obj/Debug/net6.0/ref/Tetris.dll
